Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Testing==0.7.1
Flask-WTF==0.14.2
rq-dashboard==0.6.1
flask-cors==3.0.7
Flask-RESTful==0.3.7
rq==1.1.0
redis==3.3.11
psycopg2-binary==2.7.7
Flask-SQLAlchemy==2.3.2